/* Font */

.st-font {
  font-family: 'Satisfy', cursive;
}

html,body {
  height: 100%;
}

.container-fluid {
  min-height: 100%;
}

/* Service icon color */

.i-color {
  color: chartreuse;
}

/* Service Subtitle color */

.ss-color {
  color: silver;
}
/* Not working this effect why? */
a.nav-link {
  color: rgb(197, 81, 81);
}

a.nav-link:hover {
  color: black;
  background-color: #e9cd79;
}

a.nav-link.active {
  color: black;
  background-color: #ffc107;
  font-weight: bold;
}

